@import 'assets/styles/Styles.scss';

.background-image-treatment-container {
    background-image: url('../../assets/images/treatment-pg-bg.png');
    background-size: cover; 
    background-position: center;
    height: 400px;
    border-radius: 20px;
}