
// Black
$black: #000000;

// White
$white: #ffffff;

// Grey
$grey: #cecdcb;
$lightGrey: #f5e1be;

// Primary
$primary: #f2b07e;
$primaryLighter: #F8E9D0;
$primarySlightlyDarker: #E9CBA3;
$primaryDarker: #D5B08C;
// Peach
$peach: #f7aa70;

//Blue
$pureBlue: #0073e6;
$paleBlue: #add8e6;
$turquoiseBblue: #40e0d0
